.button {
	display: inline-block;

	box-sizing: border-box;
	border-radius: 3px;
	padding: 8px 18px;

	cursor: pointer;
	transition: all 0.5s;
	text-align: center;

	border: none;

	font-size: 17px;
}

.primary {
	color: var(--white);
	background-color: var(--primary-ligth);
}

.primary:hover {
	background-color: var(--primary);
}

.ghost {
	color: var(--primary);
	border: 1px solid var(--primary);
	background-color: var(--white);
}

.ghost:hover {
	color: var(--white);
	background-color: var(--primary-ligth);
}

.important {
	color: var(--secondary);
	border: 1px solid var(--secondary);
	background-color: var(--white);
}

.important:hover {
	color: var(--white);
	background-color: var(--secondary);
}

.arrow {
	display: inline-block;

	margin-left: 10px;
}

.arrowDown {
	transition: all 0.5s;
	transform: rotate(90deg);
}

.arrowRight {
	transition: all 0.5s;
	transform: rotate(0deg);
}

.primary svg,
.ghost:hover svg,
.important:hover svg {
	fill: var(--white);
}

.ghost svg {
	fill: var(--primary);
}
