.h1 {
	margin: 0;

	font-size: 55px;
	font-weight: 500;
	line-height: 110%;
}

.h2 {
	margin: 0;

	font-size: 40px;
	font-weight: 500;
	line-height: 110%;
}

.h3 {
	margin: 0;

	font-size: 20px;
	font-weight: 500;
	line-height: 140%;
}
