html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--main-theme: #F1F3FC;
	--black: #000;
	--black-ligth: #4A4A4A;
	--gray: #BFBFBF;
	--green: #30E34D;
	--white: #FFF;
	--primary: #778AF6;
	--primary-ligth: #C5CEFF;
	--secondary: #EA1010;
	--font-family: "Quicksand", sans-serif;
}
