html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #000;
	--white: #FFF;
	--primary: #509498;
	--primary-ligth: #6E9C9F;
	--secondary: #C3C0FF;
	--font-family: "Quicksand", sans-serif;
}
